<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.swapnil.ekycapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Utsav"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".CommunityMode"></activity>
        <activity android:name=".Viewactivity" />
        <activity android:name=".Editcommunity"
            android:screenOrientation="portrait"
            >

        </activity>
        <activity android:name=".Createcommunity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".Usernamecheck"
            android:screenOrientation="portrait" />
        <activity
            android:name=".checkforusername"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Removemefromlisting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".selectmode"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Helpandfundrising"
            android:screenOrientation="portrait" />
        <activity
            android:name=".newschannel"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Directory"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Newregister"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Editmyprofile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".showlist"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Forgotpassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Showuser"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Splashscreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:screenOrientation="portrait" />
        <activity android:name=".Selectionactivity" />
        <activity android:name=".Success" />
    </application>

</manifest>